@font-face {
  font-family: "tnrBold";
  src:
    url("fonts/times_new_roman_mt_condensed_bold-webfont.woff2") format("woff2"),
    url("fonts/times_new_roman_mt_condensed_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
font-family: "tnr";
src:
  url("fonts/times_new_roman_mt_condensed_regular-webfont.woff2") format("woff2"),
  url("fonts/times_new_roman_mt_condensed_regular-webfont.woff") format("woff");
font-weight: normal;
font-style: normal;
}

* {
  font-family: 'tnr';
  letter-spacing: 1px;
  color: white;
  overflow: hidden;
}

body {
    background-color: black;
    height: 100vh;
    margin: 0;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "header"
    "contentarea";
  }

/* HEADER */
nav {
  grid-area: header;
  height: 14vh;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.evaLogo {
  height: 12vh;
  margin-right: auto;
  margin-left: 2vw;
}

.pageNav {
  display: flex;
  gap: 1vw;
  font-size: 3vw;
  margin-right: 2vw;
}

.pageNav .text {
  cursor: pointer;
  transform: scale(0.9, 1);
  margin: 0;
}

.pageNav .text:hover {
  text-shadow:2px 2px 10px #fff;
}

.menuNav { /* added because not centered for some reason */
  padding-left: 1vw;
}

/* MAIN BACKGROUND */
#content {
  grid-area: contentarea;
  background-color: black;
  height: 90vh;
}

.mangaBanner {
  position: absolute;
  width: 100vw;
  height: 33vh;
  opacity: 30%;
  object-fit: cover;
}

/* HOMEPAGE */
.homePageContainer {
  display: flex;
  margin-top: 36vh;
  margin-left: 5vw;
}

.nervLogo {
  width: 22vw;
  position: absolute;
}

.homeText {
  display: flex;
  flex-direction: column;
  margin-top: 9vh;
  margin-left: 18vw;
  transform: scale(0.77, 1);
  flex-shrink: 0;
}

.businessName {
  font-family: "tnrBold";
  font-size: 10vw;
  text-align: left;
  line-height: 90%;
}

.subName {
  font-size: 4.5vw;
  padding-left: 18vw;
  text-align: right;
}

.shinji {
  position: absolute;
  height: 790px;
  z-index: 2;
  top: 12vh;
  left: 70vw;
}

.shinjiShadow {
  position: absolute;
  height: 790px;
  z-index: 1;
  top: 12vh;
  left: 69.2vw;
}

/* MENU PAGE */
.menuPageContainer {
  display: flex;
  margin-top: 33.5vh;
  margin-left: 5vw;
}

.asuka {
  position: absolute;
  height: 840px;
  z-index: 2;
  top: 12vh;
  left: 4vw;
}

.asukaShadow {
  position: absolute;
  height: 840px;
  z-index: 1;
  top: 12vh;
  left: 4.6vw;
}

.menuTextContainer {
  display: flex;
  margin-left: 29vw;
  flex-direction: column;
}

.menuTitle {
  font-family: "tnrBold";
  font-size: 7vw;
  text-align: center;
  transform: scale(0.77, 1);
}

.menuItemsContainer {
  display: flex;
  gap: 3vw;
}

.menuItemsContainer .item {
  display: flex;
  flex-direction: column;
}

.menuItemsContainer .item .image {
  height: 20vh;
}

.menuItemsContainer .item .text {
  text-align: center;
  font-size: 2.3vw;
  margin-top: 2vh;
  transform: scale(0.77, 1);
}
